.btn-more
  align-items: center
  border: 1px solid $main_color
  background-color: transparent
  color: #fff
  cursor: pointer
  display: inline-flex
  font-family: inherit
  font-size: 2rem
  font-weight: 900
  justify-content: center
  line-height: 2.75rem
  letter-spacing: 1px
  min-height: 48px
  margin-top: auto
  max-width: 310px
  padding: 1.5rem 2rem
  text-decoration: none
  transition: background-color 0.3s
  width: 100%

  &:hover,
  &:focus
    background-color: $main_color

  @media(min-width: 1200px)
    font-size: 2.25rem
    letter-spacing: 0
    line-height: 2.25rem
    min-height: 68px
    padding: 3rem

  svg
    fill: none
    height: 6px
    margin-left: 1rem
    stroke: #fff
    width: 28px

    @media(min-width: 1200px)
      height: 10px
      margin-left: 2rem
      width: 36px
