html
  box-sizing: border-box
  font-size: $base_size
  height: 100%

*,
*::after,
*::before
  box-sizing: inherit

body
  background-color: $body_bg
  display: flex
  flex-direction: column
  height: 100vh
  min-height: 100%
  min-width: 40rem
  overflow-wrap: break-word

  &.overflow
    overflow: hidden

  &.inner-page
    @media(min-width: 992px)
      padding-top: 160px

  &.dark
    background-color: $body_bg_dark

.wrapper
  flex: 1 0 auto

.container
  max-width: 170rem
  margin-left: auto
  margin-right: auto
  padding-left: 2rem
  padding-right: 2rem

  @media(min-width: 1900px)
    max-width: 220rem

.page-section
  padding-top: 8rem
  padding-bottom: 8rem

  @media(min-width: 1024px)
    padding-top: 6rem
    padding-bottom: 6rem

  @media(min-width: 1900px)
    min-height: 1080px
    padding-bottom: 10rem
    padding-top: 10rem

  &--min
    @media(min-width: 1900px)
      min-height: 790px

  &--type_1
    background-image: url('../images/backgrounds/page-sections/pattern.png')
    background-repeat: repeat-x
    background-position: 50% 0

  &--type_2
    background-image: url('../images/backgrounds/page-sections/pattern.png')
    background-repeat: repeat-x
    background-position: 50% 100%

  &--type_3
    background: radial-gradient(100% 100% at 50% 0%, rgba(64, 190, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%)

  &--type_4
    display: flex

    @media(min-width: 1400px)
      padding-top: 10rem
      padding-bottom: 10rem

    @media(min-width: 2500px)
      min-height: 1300px

    .action-terms
      margin: auto

  &--type_5
    @media(min-width: 1900px)
      min-height: 2000px

    @media(min-width: 2500px)
      min-height: 2300px

  &--type_6
    @media(min-width: 2500px)
      min-height: 1440px

.two-columns
  text-align: center

  @media(min-width: 1024px)
    display: flex

  &__column
    @media(min-width: 1024px)
      width: 50%

    &:not(:last-child)
      margin-bottom: 4rem

      @media(min-width: 1024px)
        margin-bottom: 0

  img
    margin-left: auto
    margin-right: auto

  &__text
    @media(min-width: 768px)
      max-width: 80%
      margin-left: auto
      margin-right: auto

    @media(min-width: 1200px)
      font-size: 1.5rem

    @media(min-width: 1400px)
      font-size: 2rem

    @media(min-width: 1900px)
      font-size: 2.5rem

    @media(min-width: 2500px)
      font-size: 3rem
