$base_size: 8px

$body_bg: #0C1117

$body_bg_dark: #020405

$main_color: #D43C38

$secondary_color: #D11920

$text-color: #fff

$intel-color: #00AAE9

$gold-color: #EAAC52

$lightblue_color: #40BEFF

$main_font: 'Montserrat', Arial, sans-serif
