@import "base/_variables.sass"

.action-terms
  background-color: $body_bg
  color: #fff
  font-size: 2rem
  line-height: 1.25
  margin-left: auto
  margin-right: auto
  max-width: 145rem
  padding: 3rem 2rem
  text-align: center
  width: 90%

  @media(min-width: 768px)
    width: 80%

  @media(min-width: 1200px)
    font-size: 2.5rem
    line-height: 1.333333
    padding: 4rem
    width: 70%

  @media(min-width: 1900px)
    font-size: 3rem

  &--type_1
    box-shadow: 0 0 3rem 0 $main_color

  &--type_2
    box-shadow: 0 0 1.5rem 0 #40BEFF

  &--type_3
    box-shadow: 0 0 1.5rem 0 #9B5DE5

  &--type_4
    background-color: rgba(#fff, 0.1)
    backdrop-filter: blur(80px)
    border: 1px solid $ocean_wave

    @media(min-width: 1200px)
      background-color: rgba(#fff, 0.02)
      border-width: 2px

  h2
    font-size: 3rem
    font-weight: 700
    margin-bottom: 2rem
    text-transform: uppercase

    @media(min-width: 1024px)
      font-size: 4rem

    @media(min-width: 1200px)
      font-size: 5rem
      margin-bottom: 3rem

    @media(min-width: 1900px)
      font-size: 6rem
      margin-bottom: 4rem

  p
    &:not(:last-child)
      margin-bottom: 2rem

      @media(min-width: 1200px)
        margin-bottom: 3rem

      @media(min-width: 1900px)
        margin-bottom: 4rem

  a
    color: #fff
