.footer
  flex-shrink: 0
  position: relative
  padding-top: 13.75rem
  padding-bottom: 6rem
  z-index: 2

  @media(min-width: 768px)
    padding-top: 3rem
    padding-bottom: 8rem

  @media(min-width: 1200px)
    padding-top: 4rem
    padding-bottom: 9rem

  @media(min-width: 1900px)
    padding-bottom: 10rem

  .container
    padding-left: 3rem
    padding-right: 3rem

    @media(min-width: 375px)
      padding-left: 5rem
      padding-right: 5rem

    @media(min-width: 768px)
      padding-left: 4.25rem
      padding-right: 4.25rem

    @media(min-width: 1200px)
      padding-left: 4.75rem
      padding-right: 4.75rem

    @media(min-width: 1900px)
      max-width: 219rem

  &__top
    margin-bottom: 2rem

    @media(min-width: 768px)
      display: flex
      margin-bottom: 3rem

    @media(min-width: 1200px)
      margin-bottom: 9.25rem

    @media(min-width: 1900px)
      margin-bottom: 3rem

  &__top-left
    margin-bottom: 4rem

    @media(min-width: 768px)
      margin-bottom: 0
      width: 36%

    @media(min-width: 1200px)
      width: 31.41666%

    @media(min-width: 1900px)
      width: 28.938%

  &__top-center
    display: flex
    margin-bottom: 2rem

    @media(min-width: 768px)
      margin-bottom: 0

    .footer-menu
      &:not(:last-child)
        padding-right: 7rem

        @media(min-width: 768px)
          padding-right: 6rem

        @media(min-width: 1200px)
          padding-right: 15.75rem

  &__top-right
    @media(min-width: 768px)
      margin-left: auto
      width: 178px

    @media(min-width: 1200px)
      width: 296px

    @media(min-width: 1900px)
      width: 360px

  &__phone
    font-size: 3rem
    font-weight: 700
    line-height: 1.33333
    margin-bottom: 2rem
    white-space: nowrap
    text-align: center

    @media(min-width: 768px)
      font-size: 2.5rem
      line-height: 1.2
      text-align: left

    @media(min-width: 1200px)
      font-size: 4rem
      line-height: 1.5
      margin-bottom: 3rem

    @media(min-width: 1900px)
      font-size: 5rem
      line-height: 1.2
      margin-bottom: 4rem

    a
      color: #fff
      display: inline-block
      transition: color 0.3s
      text-decoration: none
      vertical-align: top

      &:hover,
      &:focus
        color: $main_color

  &__address
    color: #fff
    font-size: 1.5rem
    line-height: 1.33333
    text-align: center

    @media(min-width: 768px)
      text-align: left

    @media(min-width: 1200px)
      font-size: 2.5rem
      line-height: 1.2

    @media(min-width: 1900px)
      font-size: 3rem
      line-height: 1.16666

    &:not(:last-child)
      margin-bottom: 2rem

      @media(min-width: 1200px)
        margin-bottom: 3rem

      @media(min-width: 1900px)
        margin-bottom: 4rem

  &__qr
    display: none

    @media(min-width: 768px)
      display: block
      margin-top: 3rem
      width: 50px

    @media(min-width: 1200px)
      margin-top: 5.5rem
      width: 100px

    @media(min-width: 1900px)
      margin-top: 9rem

  &__middle
    border-bottom: 1px solid rgba(#fff, 0.2)
    display: flex
    flex-direction: column
    margin-left: -5rem
    margin-right: -5rem
    padding-left: 5rem
    padding-right: 5rem
    padding-bottom: 2rem

    @media(min-width: 768px)
      align-items: flex-end
      border-bottom: none
      flex-direction: row
      margin-bottom: 3rem
      margin-left: 0
      margin-right: 0
      padding-left: 0
      padding-right: 0
      padding-bottom: 0

    @media(min-width: 1200px)
      margin-bottom: 13rem

    @media(min-width: 1900px)
      margin-bottom: 12rem

  &__logo-block
    @media(min-width: 768px)
      width: 36%

    @media(min-width: 1200px)
      width: 31.41666%

    @media(min-width: 1900px)
      width: 28.938%

  &__logo
    left: 3rem
    position: absolute
    top: 4rem
    width: 234px

    @media(min-width: 375px)
      left: 5rem

    @media(min-width: 768px)
      left: auto
      position: static
      top: auto
      width: 204px

    @media(min-width: 1200px)
      width: 234px

    @media(min-width: 1900px)
      width: 352px

  &__payments
    align-items: center
    display: flex
    justify-content: center

    @media(min-width: 768px)
      flex-grow: 1
      justify-content: flex-start

  &__email-block
    font-size: 2.5rem
    font-weight: 700
    line-height: 1.2
    margin-bottom: 2.25rem
    order: -1
    text-align: center

    @media(min-width: 768px)
      font-size: 1.5rem
      line-height: 1.66666
      margin-right: 0
      margin-bottom: 0
      order: 0
      text-align: left
      width: 178px

    @media(min-width: 1200px)
      font-size: 3rem
      line-height: 1.16666
      width: 296px

    @media(min-width: 1900px)
      width: 360px

    a
      color: $main_color

      text-decoration: none

      &:hover,
      &:focus
        color: #fff
        text-decoration: none

  &__bottom
    color: rgba(#fff, 0.4)
    font-size: 1.5rem
    line-height: 1.33333
    padding-top: 2.25rem
    text-align: center

    @media(min-width: 768px)
      display: flex
      padding-top: 0
      text-align: left

    @media(min-width: 1200px)
      font-size: 2.25rem

  &__copyright
    margin-bottom: 2rem

    @media(min-width: 768px)
      margin-bottom: 0
      min-width: 36%
      padding-right: 2rem
      width: 36%

    @media(min-width: 1200px)
      line-height: 1.22222
      min-width: 31.41666%
      width: 31.41666%

    @media(min-width: 1900px)
      min-width: 28.938%
      width: 28.938%

  &__note
    max-width: 660px

    @media(min-width: 1200px)
      line-height: 1.44444

    @media(min-width: 1900px)
      max-width: 860px

.footer-menu
  font-size: 1.5rem
  line-height: 1.33333
  margin: 0
  padding: 0

  @media(min-width: 768px)
    font-size: 1.5rem
    line-height: 1.33333

  @media(min-width: 1200px)
    font-size: 2rem
    line-height: 1.5

  @media(min-width: 1900px)
    font-size: 2.25rem
    line-height: 1.3333

  &--big
    font-size: 2rem
    font-weight: 700
    line-height: 1.5

    @media(min-width: 768px)
      font-size: 2.25rem
      line-height: 1.25

    @media(min-width: 1200px)
      font-size: 2.25rem
      line-height: 1.33333

    @media(min-width: 1900px)
      font-size: 3rem
      line-height: 1.33333

    .footer-menu__item
      &:not(:last-child)
        @media(min-width: 1200px)
          margin-bottom: 3rem

        @media(min-width: 1900px)
          margin-bottom: 3rem

    .footer-menu__link
      color: #fff

      &:hover,
      &:focus,
      &:active
        color: $main_color
        text-decoration: none

  &__item
    &:not(:last-child)
      margin-bottom: 2rem

      @media(min-width: 1900px)
        margin-bottom: 2.25rem

  &__link
    color: rgba(#fff, 0.8)
    display: inline-block
    transition: color 0.3s
    text-decoration: none

    &:hover,
    &:focus
      color: #fff

    &:active
      color: $main_color

.payment-system
  align-items: center
  border: 1px solid rgba(#fff, 0.2)
  border-radius: 2px
  display: flex
  height: 4rem
  justify-content: center
  width: 6rem

  @media(min-width: 1200px)
    height: 5rem
    width: 8rem

  &:not(:last-child)
    margin-right: 2rem

  &__icon
    fill: #fff

    &--visa
      height: 8px
      width: 25px

      @media(min-width: 1200px)
        height: 12px
        width: 36px

    &--ms
      height: 12px
      width: 20px

      @media(min-width: 1200px)
        height: 18px
        width: 29px

    &--pp
      height: 8px
      width: 30px

      @media(min-width: 1200px)
        height: 12px
        width: 45px
